<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CK{% endblock %}</title>
    <!-- Add your common CSS styles and links here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <nav id="sidebarMenu">
        <ul>
            <li class="{% if request.path == '/dashboard_order' %}active{% endif %}"><a href="/dashboard_order">Home</a></li>
            <li class="{% if request.path == '/createPO' %}active{% endif %}"><a href="/createPO">Create PO</a></li>
            <li class="{% if request.path == '/viewPOs' %}active{% endif %}"><a href="/viewPOs">View POs</a></li>
            <li class="{% if request.path == '/modify' %}active{% endif %}"><a href="/modify">Modify Details</a></li>
            <li class="{% if request.path == '/viewPosted' %}active{% endif %}"><a href="/viewPosted">View Posted</a></li>
            <li><a href="/logout">Logout</a></li>
            <!-- Add more navigation items as needed -->
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
