<!-- edit_po.html -->

{% extends 'base.html' %}

{% block title %}Edit PO{% endblock %}

{% block content %}
<head>
    <title>Edit PO</title>
    <style>
        .center_form{
            width: 30%;
            margin: auto;
            margin-top: 20px;
            background-color: #cccaca;
            padding: 10px 10px 10px 10px;
        }
        .product-option{
            float:none;
            background-color: #ababab;
        }
        .additional-options{
            display: none;
        }
        .hiddenDivProduct{
            padding-left: 50px;
        }
        .hiddenDivHamper{
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <form action="/edit_po_submit" enctype="multipart/form-data" method="post">
        <div class="center_form">
            <p>Edit PO</p>

            <!-- Existing Customer Data -->
            <p>
                Order ID: {{ order_data['_id'] }} <br>
            </p>
            <input type="hidden" name="orderID" value="{{ order_data._id }}">

            <!-- Customer Stuff -->
            <input type="hidden" name="custID" value="{{ customer_data._id }}">
            <label>Customer Name</label>
            <input type="text" name="customer_name" value="{{ customer_data.name }}"> <br>
            <label>Customer Address</label>
            <input type="text" name="customer_address" value="{{ customer_data.address }}"> <br>
            
            <label>Delivery Date</label>
            <input type="date" name="deliveryDate" value="{{ order_data.deliveryDate }}">
            
            <!-- Input of products -->
            <p>Select products:</p>
            <ul id="product-list" style="list-style-type: none; padding: 0;">
                {% for product in products_data %}
                    <li class="product-option">
                        <input type="checkbox" name="products[]" value="{{ product._id }}" class="checkboxClass" {% if product.in_order %} checked {% endif %} onchange="toggleDiv(this, 'hiddenDivProduct')">
                        <label for="product_{{ product._id }}">{{ product.name }}</label>
                        <br>
                        
                        <div class="hiddenDivProduct" style="display: {% if product.in_order %}block{% else %}none{% endif %}">
                            <label>Quantity: </label>
                            <input type="number" name="p_quantities_{{ product._id }}" class="quantity-input" value="{{ product.quantity_in_order }}">
                            <br>
                            <input type="radio" id="{{ product._id }}_normal_price" name="{{ product._id }}_price_type" value="normal" {% if not product.has_custom_price %} checked {% endif %}>
                            <label for="{{ product._id }}_normal_price">Normal Price: Rp{{ product.price }}</label>
                            <br>

                            <input type="radio" id="{{ product._id }}_custom_price" name="{{ product._id }}_price_type" value="custom" {% if product.has_custom_price %} checked {% endif %}>
                            <label for="{{ product._id }}_custom_price">Custom Price:</label>
                            <input type="number" id="{{ product._id }}_custom_price" name="{{ product._id }}_custom_price" value="{{ product.custom_price_in_order }}"><br>
                        </div>
                    </li>
                    <script>
                        selectRadio('{{ product._id }}_normal_price', '{{ 'normal' if not product.has_custom_price else 'custom' }}');
                        selectRadio('{{ product._id }}_custom_price', '{{ 'custom' if product.has_custom_price else 'normal' }}');
                    </script>
                {% endfor %}
            </ul>

            <!-- Hampers selection -->
            <p>Select hampers:</p>
            <ul id="product-list" style="list-style-type: none; padding: 0;">
                {% for hamper in hampers_data %}
                    <li class="product-option">
                        <input type="checkbox" name="hampers[]" value="{{ hamper._id }}" class="checkboxClass" {% if hamper.in_order %} checked {% endif %} onchange="toggleDiv(this, 'hiddenDivHamper')">
                        <label for="hamper_{{ hamper._id }}">{{ hamper.name }}</label>
                        <br>
                        
                        <div class="hiddenDivHamper" style="display: {% if hamper.in_order %}block{% else %}none{% endif %}">
                            <label>Quantity: </label>
                            <input type="number" name="h_quantities_{{ hamper._id }}" class="quantity-input" value="{{ hamper.quantity_in_order }}">
                            <br>
                            <input type="radio" id="{{ hamper._id }}_normal_price" name="{{ hamper._id }}_price_type" value="normal" {% if not hamper.has_custom_price %} checked {% endif %}>
                            <label for="{{ hamper._id }}_normal_price">Normal Price: Rp{{ hamper.price }}</label>
                            <br>

                            <input type="radio" id="{{ hamper._id }}_custom_price" name="{{ hamper._id }}_price_type" value="custom" {% if hamper.has_custom_price %} checked {% endif %}>
                            <label for="{{ hamper._id }}_custom_price">Custom Price:</label>
                            <input type="number" id="{{ hamper._id }}_custom_price" name="{{ hamper._id }}_custom_price" value="{{ hamper.custom_price_in_order }}"><br>
                        </div>
                    </li>
                    <script>
                        selectRadio('{{ hamper._id }}_normal_price', '{{ 'normal' if not hamper.has_custom_price else 'custom' }}');
                        selectRadio('{{ hamper._id }}_custom_price', '{{ 'custom' if hamper.has_custom_price else 'normal' }}');
                    </script>
                {% endfor %}
            </ul>

            <input type="submit" value="Submit Changes">
        </div>
    </form>
</body>
<script>
    function toggleDiv(checkbox, divClass) {
    var hiddenDiv = checkbox.parentNode.querySelector('.' + divClass);
    hiddenDiv.style.display = checkbox.checked ? 'block' : 'none';
}
    function selectRadio(elementId, value) {
    var radioElement = document.getElementById(elementId);
    if (radioElement) {
        radioElement.checked = value;
    }
}

</script>
{% endblock %}
